.products-container {
    display: flex;
    width: 50vw;
    position: absolute;
    left: 355px;
}

.search-form {
    width: 300px;
    position: fixed;
    top: 100;
    left: 0;
    right: 0;
    z-index: 99;
    margin-left: 20px;
    margin-top: 20px;
}
.filter{
display: flex;
text-decoration: none;
}
.filter:hover{
   color: #e83283;
}

.searching{
    margin-top: 20px;
}

.products-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 72%;
    margin: 0px 50px 0px 50px;
}

.products-list li {
    padding: 20px 10px;
    width: 100%;
}

.product-card {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    position: relative;
    height: 100%;
    background-color: white;
    width: 300px;
}

.product-card a {
    text-decoration: none;

}

.product-card .image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    position: relative;
}

.product-card .image .over {
    opacity: 0;
    position: absolute;
    transition: .8s;
    background: #fff;
}

.product-card .image:hover .over {
    opacity: 1;
}

.product-card .image img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.product-card .info {
    padding: 20px 20px 30px 20px;
    color: gray;
    background-color: rgba(246, 252, 255, 0.414);
}

.product-card .info * {
    display: block;
}

.product-card .info .brand {
    color: gray;
    font-weight: 600;
    font-size: 1.1rem;
}

.product-card .info strong {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.product-card .cart-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 0;
}
.product-card i {
    position: absolute;
    right: 13px;
    bottom: 13px;
    
}
.info h3{
    font-size: 18px;
}


@media (max-width: 1366px) {
    .products-container {
        display: flex;
        width: 50vw;
        position: absolute;
        left: 355px;
    }
    
    .search-form {
       
        position: fixed;
        margin-top: 20px;
        z-index: 99;
        margin-left: 10px;
    }
    
    .products-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 50px 0px 20px;
    }
    
    .product-card {
        border-radius: 3px;
        position: relative;
        height: 100%;
        background-color: white;
        width: 250px;
    }
}